body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
  background-image: url(/public/grass-sky.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 900px) {
  body {
    height: 120vh;
    width: 100vw;
    overflow-x: hidden !important;
    background-image: url(/public/grass-sky-mobile.jpg);
    background-repeat: no-repeat;
  }



}
